@import url('https://fonts.googleapis.com/css?family=Six+Caps')
@import url('https://fonts.googleapis.com/css?family=Quicksand:300,400,500')

height5em 	= 5em
height4half = 4.5em
height3em 	= 3em
height2half = 2.5em
height1em 	= 1em

// Color
font = #666
