section(class="Skills")
	div(class="Skills-container Container")
		h2(class="Skills-title Title") MI EXPERIENCIA
		div(class="Skills-text-container")
			p(class="Skills-text") Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae similique aperiam assumenda dolorem iure veritatis porro asperiores perspiciatis vitae. Culpa ipsum ipsa molestiae, veritatis id aliquid. Beatae, vero nobis obcaecati!

			p(class="Skills-text") Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae similique aperiam assumenda dolorem iure veritatis porro asperiores perspiciatis vitae. Culpa ipsum ipsa molestiae, veritatis id aliquid. Beatae, vero nobis obcaecati!

			p(class="Skills-text") Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae similique aperiam assumenda dolorem iure veritatis porro asperiores perspiciatis vitae. Culpa ipsum ipsa molestiae, veritatis id aliquid. Beatae, vero nobis obcaecati!