nav(class="Navbar")
	div(class="Navbar-logoContainer")
		a(href="", class="Navbar-logo") LUIS OSNET
	div(id="", class="Navbar-mobileContainer isActive")
		button(class="Navbar-mobileButton isActiveMenuButton", id="showMenu")
	div(class="Navbar-list-container")
		ul(class="Navbar-list")
			il(class="Navbar-item")
				a(href="#about" class="Navbar-link") Sobre mi
			il(class="Navbar-item")
				a(href="#skills" class="Navbar-link") Skills
			il(class="Navbar-item")
				a(href="#portfolio" class="Navbar-link") Portafolio
			il(class="Navbar-item")
				a(href="#blog" class="Navbar-link") Blog
			il(class="Navbar-item")
				a(href="#contact" class="Navbar-link") Contacto
		//- div(class="Navbar-social")
		//- 	a(href="#", class="Navbar-icon icon-twitter")
		//- 	a(href="#", class="Navbar-icon icon-facebook")
		//- 	a(href="#", class="Navbar-icon icon-instagram")
		//- 	a(href="#", class="Navbar-icon icon-youtube")
		//- 	a(href="https://goo.gl/fUDaNQ", class="Navbar-icon icon-medium")
		//- 	a(href="https://goo.gl/fqp2o2", class="Navbar-icon icon-github")