section(class="Landing")
	div(class="Landing-container")
		div(class="Landing-image")
		div(class="Landing-info")
			div(class="Landing-text-container") 
				h1(class="Landing-osnet") LUIS OSNET
				H2(class="Landing-work") FRONTEND DEVELOPER